// src/styles/_base.scss
html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  line-height: 1.6;
  color: $color-light-text;
  background-color: $color-dark-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-primary-accent;
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

a {
  color: $color-primary-accent;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $color-secondary-accent;
  }
}
