// src/styles/_buttons.scss
@import "variables";

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1.1rem;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  color: inherit;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba($color-light-text, 0.2);
    transform: skewX(-20deg);
    transition: transform 0.5s ease-out;
    z-index: 1;
  }

  &:hover::before {
    transform: skewX(-20deg) translateX(150%);
  }
  span {
    position: relative;
    z-index: 2;
  }
}

.btn-primary {
  background-color: $color-primary-accent;
  color: $color-light-text;
  border-color: $color-primary-accent;

  &:hover {
    background-color: darken($color-primary-accent, 10%);
    border-color: darken($color-primary-accent, 10%);
    box-shadow: 0 8px 20px rgba($color-primary-accent, 0.6);
    color: $color-light-text;
  }
}

.btn-secondary {
  background-color: transparent;
  color: $color-primary-accent;
  border-color: $color-primary-accent;

  &:hover {
    background-color: $color-primary-accent;
    color: $color-light-text;
    box-shadow: 0 8px 20px rgba($color-primary-accent, 0.3);
  }
}
